<% pagetitle("文本下载 - 下载中心 ") %>
<div class="contenterright">
  <div class="subcontenterright">
    <ul><img src="/images/midtop.gif" width="692" height="8" border="0" /></ul>
    <div class="rightbottommid">
      <div class="productshow">
        <ul class="subnav">
          客户关怀  > 下载中心 > 文本下载</ul>
      </div>
      <%=render :partial=>"pdf_download"%>
    </div>
    <ul><img src="/images/midbottom.gif" width="692" height="8" border="0" /></ul>
  </div>
</div>

<%=render :partial=>"layouts/left_side"%>