<%pagetitle("呼吸机租赁")%>
<div class="contenterright">
  <div class="subcontenterright">
    <ul><img src="/images/midtop.gif" width="692" height="8" border="0" /></ul>
    <div class="rightbottommid">
      <div class="productshow">
        <ul class="subnav">客户关怀 > 呼吸机租赁</ul>
      </div>
      <div class="intro">
        <%=@sleep_rent.body%>

      </div>
    </div>
    <ul><img src="/images/midbottom.gif" width="692" height="8" border="0" /></ul>
  </div>
</div>
<%=render :partial=>"/layouts/left_side"%>

