<div class="listright">
  <img src="/images/systemimg.jpg" width="305" height="454" border="0" />
  <ul class="rightlist"><li style="font-size:16px">这里是后台信息管理首页</li>
    <li>您可以在这里</li>
    <li>1.添加\修改\删除产品信息<br />
      2.添加\修改\关于公司信息<br />
      3.添加\修改\删除下载区信息<br />
      4.添加\修改\删除最新资讯信息<br />
      5.查看\修改\删除常见问答信息<br />
      6.修改管理员密码</li></ul>
</div>




