<%pagetitle("联系方式")%>
<div class="contenterright">
  <div class="subcontenterright">
    <ul><img src="/images/midtop.gif" width="692" height="8" border="0" /></ul>
    <div class="rightbottommid">
      <div class="productshow">
        <ul class="subnav">
          联系我们 > 联系方式
        </ul>
      </div>
      <div class="contact">
        <%=@contact.body%>
      </div>
      <div class="clear"></div>
    </div>
    <ul><img src="/images/midbottom.gif" width="692" height="8" border="0" /></ul>
  </div>
</div>

<%=render :partial=>"/layouts/left_side"%>

